<div class="row">
  <div class="col">
  <h2>Статистика</h2> <br /> <br />
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><%= "Люди: #{@st[0]}" %></li>
      <li class="list-group-item"><%= "Средняя сумма для оплаты: #{@st[1]}" %></li>
      <li class="list-group-item"><%= "Средняя внесённая сумма: #{@st[2]}" %></li>           
      <li class="list-group-item"><%= "Самый распространённый счёт: #{@st[3]}" %></li>        
      <li class="list-group-item"><%= "Cредняя сумма для оплаты по самому распространённому счёту: #{@st[4]}" %></li>                  
    </ul>
  </div>
</div>
